.navbar {
  display: flex;
  justify-content: end;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #ffffff;
  transition: 0.5s;
  padding: 0.75em 2%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;

  height: 4.5rem;
  z-index: 100;
}

.dark .navbar {
  background: #000000;
}

.navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0 0.3em;
}
.sidebar ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.sidebar a {
  height: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #000;
  font-size: 14px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}

.dark .sidebar a {
  color: #fff;
}
.navbar ul li {
  height: 4.5rem;
}

.navbar a {
  height: 100%;
  padding: 0 0.5em;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}

.dark .navbar a {
  color: #fff;
}

.navbar a:hover {
  background-color: rgba(116, 116, 116, 0.253);
}
.sidebar a:hover {
  background-color: rgba(116, 116, 116, 0.253);
}

.navbar .toggle {
  cursor: pointer;
  height: 4.5rem;
  padding: 0.75rem 0;
}
.navbar .toggle:hover {
  background-color: rgba(116, 116, 116, 0.253);
}

.navbar .logo {
  position: relative;
  left: 0;
  margin-right: auto;
  list-style: none;
  cursor: pointer;
  width: 20%;
  height: 4.5rem;
  padding: 0;
  flex-grow: 0;
  flex-shrink: 0;
}
.navbar .logo img {
  width: 80%;
  height: 80%;
  object-fit: contain;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  transition: 0.5s;
}

.navbar .logo:hover {
  background-color: rgba(116, 116, 116, 0.253);
}
.navbar.mobile {
  display: none;
}

.navbar.desktop {
  display: flex;
}

.home .navbar.desktop.false {
  background-color: rgba(0, 0, 0, 0);
}
.home .navbar.mobile.false {
  background-color: rgba(0, 0, 0, 0);
}

.navbar .searchbar {
  max-height: 35px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0.5em 2%;
  margin: 0 1em;
  width: 30%;
  flex-grow: 10;
  flex-shrink: 0;
  border-radius: 50px;
  background: #111111;
  transition: 0.5s;
}

.navbar .searchbar img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.navbar .searchbar input {
  padding: 5px;
  background: transparent;
  border: 0;
  outline: none;
  color: #fff;
  font-size: 18px;
  width: 100%;
}

.home .searchbar.false {
  display: none;
}

.searchbar input::placeholder {
  color: #fff;
}

.dark .navbar .searchbar {
  background: #fff;
}

.dark .searchbar input {
  color: #222;
}

.dark .searchbar input::placeholder {
  color: #222;
}

.navbar .menu-button {
  list-style: none;
  cursor: pointer;
  height: 4.5rem;
  justify-self: end;
  right: 0;
  display: flex;
  justify-content: flex-end;
}
.navbar .menu-button a {
  right: 0% !important;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background: rgba(50, 50, 50, 0.9);
  backdrop-filter: blur(7px);
  box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-bottom: 10%;
}
.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.toolbar li {
  height: 60px;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  padding: 0 2%;
}
.sidebar-item {
  margin-left: 0;
  margin-right: 0;

  flex-basis: 0 0 100%;

  width: 100%;
  flex-grow: 1;
}

.sidebar li {
  list-style: none;
}

@media (max-width: 800px) {
  .navbar.mobile {
    display: flex;
  }
  .navbar.desktop {
    display: none;
  }
  .navbar {
    max-width: 100%;
  }
}

@media (min-width: 800px) {
  .navbar.mobile {
    display: none;
  }
  .navbar.desktop {
    display: flex;
  }
}
